<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="pa.iscde.packdep.packdepStyleCreator">
      <creator
            class="extensions.Style1"
            name="style">
      </creator>
   </extension>
   <extension
         point="pa.iscde.packdep.packdepStyleCreator">
      <creator
            class="extensions.Style2"
            name="style2">
      </creator>
   </extension>
   <extension
         point="pa.iscde.packdep.packdepStyleCreator">
      <creator
            class="extensions.Style3"
            name="style 3">
      </creator>
   </extension>
   <extension
         point="pa.iscde.packdep.packdepActionPoint">
      <ActionPoint
            class="extensions.Action1"
            name="action1">
      </ActionPoint>
   </extension>

</plugin>
