<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="packdepStyleCreator" name="packdepStyleCreator" schema="schema/packdepStyleCreator.exsd"/>
   <extension
         id="packDep"
         name="Package Dependencies"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.packdep.View">
      </view>
   </extension>

</plugin>
